In [11]:
import pandas as pd 

df = pd.read_csv('/nvme/merengelke/aipal/V6/aipal/predict.csv')
df

,recorded_date,encounter_start,encounter_end,patient_id,birth_date,sex,condition_codes,condition_id,encounter_id,Fibrinogen_g_L,...,Monocytes_G_L,zMONOMA,Platelets_G_L,PT_percent,class,age,Monocytes_percent,prediction.ALL,prediction.AML,prediction.APL
0,2019-04-29 12:56:37+00:00,2019-04-29 04:00:00+00:00,2019-06-30 21:59:00+00:00,26b6895b3685cdb20f1fc08847aedec3d43fbaa7774620...,1938-09-13,male,C92.00,2aa2142afb63e269949d08b9629ef890dca699f5f375d2...,a9d5993627dddbde4f73fc9532d92681c015c54a977daa...,3.91,...,6.20,6.2,43.0,64.0000,AML,85,8.016550,0.020609,0.972613,0.006778
1,2018-07-06 11:10:31+00:00,2018-07-05 07:00:00+00:00,2018-07-06 10:49:00+00:00,cb00ddcbc59ef245fb9b3f67b6f3b53f443cd9ed5d8e93...,1969-09-19,male,C92.00,c3f1262eab42dc84ab0be0a4306939c1dba19650559b17...,7cf3cf0a11873f787afef58a5942f45d23a26a9ee86496...,NaN,...,1.10,NaN,251.0,97.0000,AML,54,14.304290,0.051240,0.943661,0.005099
2,2011-01-04 11:04:35+00:00,2010-12-21 16:05:00+00:00,2011-01-13 14:00:00+00:00,8ed4b54d9b98d3f3e723a27e92a4b4a22b438104ee9c89...,2007-12-21,male,C91.00,be317912d0600b009d26bd7d323ed447b78e630098a62e...,ff48b2305c06609375398ea3f2fdc820fb5d1806797c59...,NaN,...,0.01,NaN,40.0,NaN,ALL,16,0.467290,0.683917,0.219834,0.096248
3,2019-06-24 12:12:16+00:00,2019-06-21 11:17:00+00:00,2019-07-22 13:59:00+00:00,78c74f94c7da6ded5396d3dded10ec17edde8378269212...,1952-05-19,female,C92.00,dcd22f19ac392a3255b7b298fc6e97ef5fc5a9804fa5c0...,ffb445e278635e76e29fe0cd5510441d7094568af549b6...,1.39,...,0.05,0.2,30.0,68.0000,AML,72,0.172951,0.426965,0.191800,0.381235
4,2019-03-06 07:23:38+00:00,2019-03-05 17:10:00+00:00,2019-04-01 12:00:00+00:00,3c01939223228a2d3fee5559e6b4d32fbc7804d2eac156...,2010-01-07,male,C92.00,d2cc37010138f9bfbe554edc7251fc0b71481b4a766e27...,0e76c41dd32732be65967344cf780496a528739feeccce...,3.48,...,0.00,1.9,58.0,58.0000,AML,14,0.000000,0.178740,0.531290,0.289970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3592,2019-05-13 12:03:08+00:00,2019-03-01 11:40:00+00:00,2019-05-11 14:30:00+00:00,8e540846448989072ee65954f8f843031a6cfa14eac733...,1951-09-06,male,C92.80,7c724a025adc629abb08c6bb5538c8cd7eb458101f8103...,32f007b2b36d11e7fce87ad8b23319469a79b7606c778b...,3.82,...,0.01,1.2,4.0,54.0000,AML,72,11.111110,0.167883,0.504524,0.327593
3593,2019-05-17 13:20:19+00:00,2019-05-10 11:43:00+00:00,2019-06-28 12:29:00+00:00,e19f857b7719546447fba5fdd9a4c60f6767dececaf68d...,2002-01-31,male,C92.00,bf804baff9b0038fbdb7a2e3379b92b9cf7fad3d76dc5b...,19b4dffc3b989aea73e85bd6c4b97bdc633397824440e8...,1.91,...,0.01,NaN,142.0,70.0000,AML,22,1.470588,0.362762,0.023000,0.614238
3594,2019-02-08 10:24:35+00:00,2019-01-02 05:00:00+00:00,2019-03-31 21:59:00+00:00,00b01294efceed536d7a3064a43110af755b3cb09da303...,1946-09-29,female,C92.00,e8a7ea6f4fe7588c11e9300f03fa0fbd54ce85979e00b3...,6e42e7ec30544b2fa0382fdba52c6a551333a2b33edd0e...,2.15,...,0.72,0.2,120.0,120.0002,AML,77,8.352668,0.017676,0.976725,0.005599
3595,2019-10-28 10:14:11+00:00,2019-09-18 09:51:00+00:00,2019-10-04 12:00:00+00:00,b0a626e8bd60826e6301fd85532aceae674aea696e9231...,1953-03-12,male,C92.00,31e10428406782942968d55cf35dd93dff53374ebf6083...,69b27a0c2f7f0d90efe07125badc6414ae57148fd54c21...,3.39,...,27.50,27.5,63.0,54.0000,AML,71,569.358200,0.035037,0.931206,0.033757
3596,2019-06-23 20:55:31+00:00,2019-05-28 08:31:00+00:00,2019-07-14 02:09:00+00:00,b9a51946690e7b6509d31eeb92e36e41b179dac4800f6a...,1963-01-09,male,C92.00,7b11b6e76e4d97dec16ef153dbe0b86cd10c43b5de83dc...,ae14826ee7f932e022fe470b03a6d231d72c845ed34097...,3.25,...,0.31,0.2,113.0,96.0000,AML,61,7.908163,0.140187,0.725433,0.134380

In [9]:
import pandas as pd

dfx = pd.read_csv('/home/merengelke/aipal_validation/test.csv')
# filter for Lymphocytes_G_L and zLYMPMA are the same 
dfx = dfx[dfx['Lymphocytes_G_L'] == dfx['zLYMPMA']]
dfx
# Monocytes_G_L and zMONOMA are the same
dfx = dfx[dfx['Monocytes_G_L'] == dfx['zMONOMA']]
dfx

,Unnamed: 0,recorded_date,encounter_start,encounter_end,patient_id,birth_date,sex,condition_codes,condition_id,encounter_id,...,WBC_G_L,Lymphocytes_G_L,zLYMPMA,MCHC_g_L,MCV_fL,Monocytes_G_L,zMONOMA,Platelets_G_L,PT_percent,class
0,0,2019-04-29 12:56:37+00:00,2019-04-29 04:00:00+00:00,2019-06-30 21:59:00+00:00,26b6895b3685cdb20f1fc08847aedec3d43fbaa7774620...,1938-09-13,male,C92.00,2aa2142afb63e269949d08b9629ef890dca699f5f375d2...,a9d5993627dddbde4f73fc9532d92681c015c54a977daa...,...,77.34,3.9,3.9,331.0,87.7,6.20,6.2,43.0,64.0000,AML
16,16,2018-02-23 12:54:56+00:00,2018-02-19 14:24:00+00:00,2018-02-28 14:00:00+00:00,0f84848e15c7cc5dcf268b458e3035ef291d9f6656b3ba...,2003-03-03,male,C91.00,534ef74fcaa8aface5a12bc8361026e39043afb2a09895...,cd1156110eef7282eb6cebed31cc1dfbec0b73a1c1abb8...,...,1.60,1.1,1.1,361.0,87.4,0.00,0.0,31.0,74.0000,ALL
34,34,2017-04-25 11:44:47+00:00,2017-04-21 20:34:00+00:00,2017-05-26 18:00:00+00:00,2bb6da087987da47fa53663cfa2b61ea20dab4de1f4b28...,2003-02-23,male,C92.00,30b5a4de3fc90ab68d03d2189b14de7bc8cd8467c6a530...,01917a36170dc9e4eb51b3f3251e14fbf6900170fa33ae...,...,2.58,1.3,1.3,382.0,81.1,0.10,0.1,13.0,69.0000,AML
35,35,2015-04-29 11:14:03+00:00,2015-04-14 07:42:00+00:00,2015-05-08 11:37:00+00:00,ca9c00ffadf91a475363f9fb12ff8251bd5cd268d08c6c...,2001-01-03,male,C91.00,3c4d8d35d673f30f87c9084a8c3cd9ce7dc1cb1ba75d40...,1a8fcdb7ca2b02a4a15b45a5cc0a9ad04f6471c3885bd2...,...,7.60,0.7,0.7,347.0,76.7,0.10,0.1,331.0,99.0000,ALL
38,38,2015-04-21 04:42:43+00:00,2015-04-12 11:56:00+00:00,2015-04-21 13:53:00+00:00,d63d887ca9c4285fd13cc7bdfaf7ae0548f36ae8367b19...,2005-07-08,male,C91.00,c0c155a058de1483514b7da3860cbeab6a40a5facb2a7c...,124b5c6b10711cb954f16b41b9ae8222234cb53efec570...,...,2.88,2.0,2.0,349.0,86.4,0.10,0.1,57.0,97.0000,ALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3557,3557,2019-04-09 12:15:56+00:00,2019-04-09 04:00:00+00:00,2019-06-30 21:59:00+00:00,356e9caa882d9fd56c579918140874cb4b0cd3224990cd...,1950-05-17,female,C92.00,3341853a0882a00334fb3202c468bf461e9f9ffba71b7e...,6c9f70e93b687e3414e98d628bc117c28cb6ac62fddfe9...,...,19.01,0.6,0.6,320.0,98.7,NaN,NaN,62.0,120.0002,AML
3565,3565,2019-04-03 10:38:41+00:00,2019-04-02 08:10:00+00:00,2019-05-07 08:37:00+00:00,f7721d3e91a930d000b45307851f380632f431b9fa11c8...,1950-01-10,male,C92.00,be5af0902b8dafd9e3f58094999d628b73145d4e575734...,2c8bb1464dff7070a50c877881556c83b8f3198d6aa13d...,...,4.60,0.4,0.4,346.0,87.8,0.08,0.9,29.0,80.0000,AML
3570,3570,2019-05-15 13:09:17+00:00,2019-05-15 09:58:00+00:00,2019-05-18 08:44:00+00:00,7e95966a4a6a1d61e0c6fbf5f8ae30630352834a994e43...,1955-03-10,male,C92.00,36946a42657805231891e648c74ea210ecce3c4488111c...,eaa921e4f013c2ff83f9ac05ea9a5c204f9e7b51acce66...,...,58.52,2.2,2.2,309.0,75.4,3.40,3.4,18.0,27.0000,AML
3589,3589,2019-09-11 12:34:45+00:00,2019-09-11 04:00:00+00:00,2019-09-30 21:59:00+00:00,fa449b09706f9d928cac05c636a69b60a364245ad47ce6...,1948-01-14,male,C92.00,41a6c531b0757bc1d00885f885402284e48308687f0a48...,40c8f63e5580898b99604a3641211f15cd754162b373be...,...,22.24,1.6,1.6,326.0,84.6,1.60,1.6,21.0,NaN,AML
3595,3595,2019-10-28 10:14:11+00:00,2019-09-18 09:51:00+00:00,2019-10-04 12:00:00+00:00,b0a626e8bd60826e6301fd85532aceae674aea696e9231...,1953-03-12,male,C92.00,31e10428406782942968d55cf35dd93dff53374ebf6083...,69b27a0c2f7f0d90efe07125badc6414ae57148fd54c21...,...,4.83,0.4,0.4,328.0,100.4,27.50,27.5,63.0,54.0000,AML

In [2]:

import pandas as pd 
import numpy as np

df = pd.read_csv('/nvme/merengelke/aipal/V5/aipal/samples.csv')
# df = df[['zMONOMA', 'Monocytes_G_L']]
# df.columns
# df = df[['patient_id', 'recorded_date','Lymphocytes_G_L', 'zLYMPMA']]
# df.dropna(inplace=True, how='all')

In [14]:
df.columns

Index(['patient_id', 'recorded_date', 'Lymphocytes_G_L', 'zLYMPMA'], dtype='object')

In [16]:
obs = pd.read_pickle('/nvme/merengelke/aipal/V5/aipal/observation.pkl')

pat_cond = pd.read_pickle('/nvme/merengelke/aipal/V5/aipal/patient_condition.pkl')

In [ ]:
# calculate Mean, Median, Standard Deviation, Min, Max for each feature
df2 = np.round(df[features].agg(['mean', 'median', 'std', 'min', 'max']),2)
# calculate % of missing values for all features
null_percent = np.round((df[features].isnull().sum() / len(df)) * 100,2)
null_percent

df2.columns

Index(['sex', 'age', 'Fibrinogen_g_L', 'LDH_UI_L', 'WBC_G_L',
       'Lymphocytes_G_L', 'zLYMPMA', 'MCHC_g_L', 'MCV_fL', 'Monocytes_G_L',
       'zMONOMA', 'Platelets_G_L', 'PT_percent'],
      dtype='object')

In [ ]:
# add to null percent to df2, row name is 'missing %'
df2.loc['missing %'] = null_percent

In [ ]:
df2.to_excel('cohort_essen_unfiltered.xlsx')

In [ ]:
def prediction_data_pruner(df, threshold=0):
    """Remove data rows based on the threshold of missing values."""
    data = df
    mandatory_columns = ['Fibrinogen_g_L', 'LDH_UI_L', 'WBC_G_L', 'Lymphocytes_G_L', 'zLYMPMA',
    'MCHC_g_L', 'MCV_fL', 'Monocytes_G_L', 'zMONOMA', 'Platelets_G_L',
    'PT_percent']
    
    ['MCV_fL', 'PT_percent', 'LDH_UI_L', 'MCHC_g_L', 'WBC_G_L', 'Fibrinogen_g_L', 'Monocytes_G_L', 'Platelets_G_L', 'Lymphocytes_G_L']

    data["nan_percentage"] = data[mandatory_columns].isna().mean(axis=1)

    # Prune data where the percentage of NaN values is above the threshold
    data = data[data["nan_percentage"] <= threshold]
    data.drop(columns=["nan_percentage"], inplace=True)
    return data

In [ ]:
prediction_data_pruner(df,threshold=0.2)

/tmp/ipykernel_33091/3130117104.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["nan_percentage"], inplace=True)

,recorded_date,encounter_start,encounter_end,patient_id,birth_date,sex,condition_codes,condition_id,encounter_id,Fibrinogen_g_L,...,Lymphocytes_G_L,zLYMPMA,MCHC_g_L,MCV_fL,Monocytes_G_L,zMONOMA,Platelets_G_L,PT_percent,class,age
3,2019-06-24 12:12:16+00:00,2019-06-21 11:17:00+00:00,2019-07-22 13:59:00+00:00,78c74f94c7da6ded5396d3dded10ec17edde8378269212...,1952-05-19,1,C92.00,dcd22f19ac392a3255b7b298fc6e97ef5fc5a9804fa5c0...,ffb445e278635e76e29fe0cd5510441d7094568af549b6...,1.39,...,1.15,1.5,333.0,91.5,0.05,0.2,30.0,68.0000,AML,72
5,2019-11-13 13:40:06+00:00,2019-11-12 10:11:00+00:00,2019-11-15 15:00:00+00:00,02658b9e44eb2775a1245b4842da5c48a3db61bf526cbb...,1959-08-09,1,C92.00,e1c31a94f7de804a0a6744437bda429aa0f87a80876ce9...,edaf267b7df4c718ec016b7388cd873a76b7c87b41010c...,2.81,...,0.85,0.7,326.0,102.7,0.20,0.1,11.0,91.0000,AML,64
6,2019-07-24 06:01:45+00:00,2019-07-23 08:42:00+00:00,2019-08-27 09:30:00+00:00,d23f7a1ce35ed336369f4c441e60da027f899c88a5e957...,1967-10-24,1,C92.00,3fdce3202a9723a3b660c8d102c2fb5689f19c090aee1f...,a56a5940805e0c7f9c847cb3072abc1dcce44e1de85418...,4.43,...,1.83,0.6,342.0,99.7,0.64,1.3,234.0,101.0000,AML,56
7,2019-01-22 14:18:22+00:00,2019-01-21 17:29:00+00:00,2019-03-18 15:27:00+00:00,d808e36c85a1d6a06b1286217d458fcaf8bfb46f762503...,1984-12-03,1,C92.00,3367d2e0088cbec23051a74ddf82843bb5d3570ed8629d...,0f04194b65680445af9928c72850862822e6bb45b7f83c...,4.19,...,0.14,0.2,372.0,79.6,0.02,0.8,11.0,76.0000,AML,39
9,2017-05-02 19:24:12+00:00,2017-04-04 04:00:00+00:00,2017-06-30 21:59:00+00:00,bfdc14bb467c1160bc512a862f1fcdaeb31cd951fd960b...,1937-08-16,1,C92.00,9464272f2d4d96d743f76645e72401030e89cf45758ad0...,c133ff0929c8578bb07beba4a660a6bdeb8bd847165a6d...,3.00,...,0.71,0.9,333.0,98.1,0.04,NaN,58.0,114.0000,AML,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3588,2019-09-09 06:47:29+00:00,2019-08-07 04:00:00+00:00,2019-09-30 21:59:00+00:00,3817b0403abfed2c8289b1fb3d680ef77ae451060d7eb9...,1935-10-20,1,C92.00,ab0a27414d9f39a501e04dc144c947ba8ef6a96b7d00d0...,b4d4a3a30b8fb073d7d194486c304573d13fdca07745c1...,4.06,...,0.65,0.9,318.0,84.3,0.42,0.2,77.0,89.0000,AML,88
3592,2019-05-13 12:03:08+00:00,2019-03-01 11:40:00+00:00,2019-05-11 14:30:00+00:00,8e540846448989072ee65954f8f843031a6cfa14eac733...,1951-09-06,1,C92.80,7c724a025adc629abb08c6bb5538c8cd7eb458101f8103...,32f007b2b36d11e7fce87ad8b23319469a79b7606c778b...,3.82,...,0.44,2.4,350.0,82.7,0.01,1.2,4.0,54.0000,AML,72
3593,2019-05-17 13:20:19+00:00,2019-05-10 11:43:00+00:00,2019-06-28 12:29:00+00:00,e19f857b7719546447fba5fdd9a4c60f6767dececaf68d...,2002-01-31,1,C92.00,bf804baff9b0038fbdb7a2e3379b92b9cf7fad3d76dc5b...,19b4dffc3b989aea73e85bd6c4b97bdc633397824440e8...,1.91,...,0.20,NaN,347.0,73.2,0.01,NaN,142.0,70.0000,AML,22
3594,2019-02-08 10:24:35+00:00,2019-01-02 05:00:00+00:00,2019-03-31 21:59:00+00:00,00b01294efceed536d7a3064a43110af755b3cb09da303...,1946-09-29,1,C92.00,e8a7ea6f4fe7588c11e9300f03fa0fbd54ce85979e00b3...,6e42e7ec30544b2fa0382fdba52c6a551333a2b33edd0e...,2.15,...,1.26,1.4,344.0,106.9,0.72,0.2,120.0,120.0002,AML,77
3596,2019-06-23 20:55:31+00:00,2019-05-28 08:31:00+00:00,2019-07-14 02:09:00+00:00,b9a51946690e7b6509d31eeb92e36e41b179dac4800f6a...,1963-01-09,1,C92.00,7b11b6e76e4d97dec16ef153dbe0b86cd10c43b5de83dc...,ae14826ee7f932e022fe470b03a6d231d72c845ed34097...,3.25,...,0.13,0.1,333.0,96.5,0.31,0.2,113.0,96.0000,AML,61

In [ ]:
# Load config file
from pathlib import Path
import yaml


def load_config(file_path: str = "/home/merengelke/aipal_validation/aipal_validation/config/config_training.yaml"):
    return yaml.safe_load((Path.cwd() / file_path).open())

def prediction_data_pruner(df, threshold=0):
    """Remove data rows based on the threshold of missing values."""
    data = df
    cfg = load_config()
    mandatory_columns = [value[3] for value in cfg["obs_codes_si"].values()]
    print(mandatory_columns)
    data["nan_percentage"] = data[mandatory_columns].isna().mean(axis=1)

    # Prune data where the percentage of NaN values is above the threshold
    data = data[data["nan_percentage"] <= threshold]
    data.drop(columns=["nan_percentage"], inplace=True)

    return data[mandatory_columns]

prediction_data_pruner(df,threshold=0.2)

['MCV_fL', 'PT_percent', 'LDH_UI_L', 'MCHC_g_L', 'WBC_G_L', 'Fibrinogen_g_L', 'Monocytes_G_L', 'Platelets_G_L', 'Lymphocytes_G_L']

/tmp/ipykernel_33091/3824612713.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["nan_percentage"], inplace=True)

,MCV_fL,PT_percent,LDH_UI_L,MCHC_g_L,WBC_G_L,Fibrinogen_g_L,Monocytes_G_L,Platelets_G_L,Lymphocytes_G_L
3,91.5,68.0000,659.0,333.0,28.91,1.39,0.05,30.0,1.15
5,102.7,91.0000,666.0,326.0,2.74,2.81,0.20,11.0,0.85
6,99.7,101.0000,217.0,342.0,9.42,4.43,0.64,234.0,1.83
7,79.6,76.0000,184.0,372.0,0.18,4.19,0.02,11.0,0.14
9,98.1,114.0000,211.0,333.0,1.18,3.00,0.04,58.0,0.71
...,...,...,...,...,...,...,...,...,...
3588,84.3,89.0000,331.0,318.0,1.75,4.06,0.42,77.0,0.65
3592,82.7,54.0000,361.0,350.0,0.09,3.82,0.01,4.0,0.44
3593,73.2,70.0000,341.0,347.0,0.68,1.91,0.01,142.0,0.20
3594,106.9,120.0002,323.0,344.0,8.62,2.15,0.72,120.0,1.26
3596,96.5,96.0000,222.0,333.0,3.92,3.25,0.31,113.0,0.13

In [ ]:
list1 = ['Fibrinogen_g_L', 'LDH_UI_L', 'WBC_G_L', 'Lymphocytes_G_L', 'zLYMPMA',
    'MCHC_g_L', 'MCV_fL', 'Monocytes_G_L', 'zMONOMA', 'Platelets_G_L',
    'PT_percent']

list2 = ['MCV_fL', 'PT_percent', 'LDH_UI_L', 'MCHC_g_L', 'WBC_G_L', 'Fibrinogen_g_L', 'Monocytes_G_L', 'Platelets_G_L', 'Lymphocytes_G_L']

# Using list comprehension
diff_list1_list2 = [i for i in list1 if i not in list2]
diff_list2_list1 = [i for i in list2 if i not in list1]

# Using set
diff_set1_set2 = list(set(list1) - set(list2))
diff_set2_set1 = list(set(list2) - set(list1))

print("Difference of list1 - list2 using list comprehension: ", diff_list1_list2)
print("Difference of list2 - list1 using list comprehension: ", diff_list2_list1)

print("Difference of list1 - list2 using set: ", diff_set1_set2)
print("Difference of list2 - list1 using set: ", diff_set2_set1)

Difference of list1 - list2 using list comprehension:  ['zLYMPMA', 'zMONOMA']
Difference of list2 - list1 using list comprehension:  []
Difference of list1 - list2 using set:  ['zLYMPMA', 'zMONOMA']
Difference of list2 - list1 using set:  []

In [11]:
import pandas as pd

lymphocytes = pd.read_csv('/home/merengelke/aipal_validation/jupyter/lymphocytes.csv')
lymphocytes.sort_values(by='o0_effectiveDateTime', inplace=True)
monocytes = pd.read_csv('/home/merengelke/aipal_validation/jupyter/monocytes.csv')
monocytes.sort_values(by='o0_effectiveDateTime', inplace=True)

In [12]:
lymphocytes.to_excel('lymphocytes.xlsx')
monocytes.to_excel('monocytes.xlsx')

In [1]:
import pandas as pd 

df = pd.read_csv('/nvme/merengelke/aipal/rome/aipal/samples.csv')

In [2]:
df

,UPN,Gender,Diagnosis type,"additional diagnosis details, lineage etc",Age at diagnosis,ELN,MCV (fL),Prothrombine time (%),LDH (UI/L),MCHC (g/L),WBC (*103/mm3),Fibrinogen (g/L),Monocytes (*103/mm3),Platelets (*103/mm3),Lymphocites (*103/mm3)
0,PTV1,F,ALL,ALL B ph neg,21.136986,NaN,90.9,69.0,2119.0,34.0,84.40,565.0,0.00,20,33.86
1,PTV2,M,ALL,ALL B ph neg,26.495890,NaN,88.8,89.0,420.0,32.9,3.88,521.0,0.10,141,0.86
2,PTV3,F,ALL,ALL B ph neg,21.819178,NaN,80.1,79.0,785.0,34.6,2.73,184.0,0.20,78,1.42
3,PTV4,M,ALL,ALL B ph neg,47.287671,NaN,99.4,103.0,135.0,33.3,5.01,590.0,0.35,303,1.92
4,PTV81,F,ALL,ALL B ph neg,66.268493,NaN,114.2,66.0,281.0,34.6,2.17,351.0,0.02,31,1.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,PTV112,M,AML,sAML,73.161644,Favorable,81.3,45.0,1078.0,35.9,128.64,254.0,18.40,35,64.45
114,PTV78,M,AML,t-AML,67.356164,Intermediate,96.1,93.0,326.0,32.6,7.15,478.0,0.77,22,3.45
115,PTV79,F,AML,t-AML,50.298630,Intermediate,78.2,97.0,143.0,34.1,1.73,312.0,0.07,43,1.34
116,PTV80,M,AML,t-AML,57.315068,Adverse,78.8,65.0,214.0,34.4,1.64,428.0,0.02,7,0.47
117,PTV96,F,AML,t-AML,63.043836,NaN,99.7,99.0,221.0,34.8,1.15,344.0,0.09,77,0.9